<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<select id="REGION_NAME" style="width:150px;">

    <option value="">전체</option>
    <option value="1">국내</option>
    <option value="2">싱가폴</option>
    <option value="3">홍콩</option>
    <option value="4">필리핀</option>
    <option value="5">기타</option>
    <option value="BD">방글라데시</option>
    <option value="IQ">이라크</option>
    <option value="KH">캄보디아</option>
    <option value="MY">말레이지아</option>
    <option value="PA">파나마</option>
    <option value="PE">페루</option>
    <option value="SA">사우디아라비아</option>
    <option value="SB">솔로몬 군도</option>
    <option value="VN">베트남</option>
</select>
</body>
</html>